In [18]:
import pandas as pd
members = pd.read_csv('data/members.csv')
menu = pd.read_csv('data/menu.csv')
sales = pd.read_csv('data/sales.csv')

In [19]:
members

  customer_id   join_date
0           A  2021-01-07
1           B  2021-01-09

In [20]:
menu

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

In [21]:
sales

   customer_id  order_date  product_id
0            A  2021-01-01           1
1            A  2021-01-01           2
2            A  2021-01-07           2
3            A  2021-01-10           3
4            A  2021-01-11           3
5            A  2021-01-11           3
6            B  2021-01-01           2
7            B  2021-01-02           2
8            B  2021-01-04           1
9            B  2021-01-11           1
10           B  2021-01-16           3
11           B  2021-02-01           3
12           C  2021-01-01           3
13           C  2021-01-01           3
14           C  2021-01-07           3

In [22]:
df = pd.merge(sales, members, on='customer_id',how='left')

In [23]:
df

   customer_id  order_date  product_id   join_date
0            A  2021-01-01           1  2021-01-07
1            A  2021-01-01           2  2021-01-07
2            A  2021-01-07           2  2021-01-07
3            A  2021-01-10           3  2021-01-07
4            A  2021-01-11           3  2021-01-07
5            A  2021-01-11           3  2021-01-07
6            B  2021-01-01           2  2021-01-09
7            B  2021-01-02           2  2021-01-09
8            B  2021-01-04           1  2021-01-09
9            B  2021-01-11           1  2021-01-09
10           B  2021-01-16           3  2021-01-09
11           B  2021-02-01           3  2021-01-09
12           C  2021-01-01           3         NaN
13           C  2021-01-01           3         NaN
14           C  2021-01-07           3         NaN

In [24]:
df = pd.merge(df, menu, on='product_id', how='left')

In [25]:
df

   customer_id  order_date  product_id   join_date product_name  price
0            A  2021-01-01           1  2021-01-07        sushi     10
1            A  2021-01-01           2  2021-01-07        curry     15
2            A  2021-01-07           2  2021-01-07        curry     15
3            A  2021-01-10           3  2021-01-07        ramen     12
4            A  2021-01-11           3  2021-01-07        ramen     12
5            A  2021-01-11           3  2021-01-07        ramen     12
6            B  2021-01-01           2  2021-01-09        curry     15
7            B  2021-01-02           2  2021-01-09        curry     15
8            B  2021-01-04           1  2021-01-09        sushi     10
9            B  2021-01-11           1  2021-01-09        sushi     10
10           B  2021-01-16           3  2021-01-09        ramen     12
11           B  2021-02-01           3  2021-01-09        ramen     12
12           C  2021-01-01           3         NaN        ramen     12
13           C  2021-01-01           3         NaN        ramen     12
14           C  2021-01-07           3         NaN        ramen     12

In [26]:
# 1) What is the total amount each customer spent at the restaurant?

customer_amount = df.groupby('customer_id')['price'].sum()
customer_amount

customer_id
A    76
B    74
C    36
Name: price, dtype: int64

In [27]:
# 2) How many days has each customer visited the restaurant?
customer_visits = df.groupby('customer_id')['order_date'].nunique()
customer_visits

customer_id
A    4
B    6
C    2
Name: order_date, dtype: int64

In [38]:
# 3) What was the first item from the menu purchased by each customer?

first_order_by_cust = df.sort_values(by='order_date').groupby('customer_id')['product_name'].unique()
first_order_by_cust

customer_id
A    [sushi, curry, ramen]
B    [curry, sushi, ramen]
C                  [ramen]
Name: product_name, dtype: object

In [12]:
# 4) What is the most purchased item on the menu and how many times was it purchased by all customers?

most_purchased_item = df.groupby('product_name').size()
most_purchased_item

product_name
curry    4
ramen    8
sushi    3
dtype: int64

In [13]:
highest_group = most_purchased_item.idxmax()
highest_group

'ramen'

In [14]:
print(f'Most purchased item is {highest_group} and was bought {most_purchased_item[highest_group]} times')

Most purchased item is ramen and was bought 8 times

In [15]:
# 5) Which item was the most popular for each customer?

most_popular_for_cust = df.groupby('customer_id')['product_name'].agg(lambda x: x.value_counts().idxmax())
most_popular_for_cust
# b ordered all 3 items twice

customer_id
A    ramen
B    curry
C    ramen
Name: product_name, dtype: object

In [16]:
# 6) Which item was purchased first by the customer after they became a member?

df['order_date'] = pd.to_datetime(df['order_date'])
df['join_date'] = pd.to_datetime(df['join_date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   15 non-null     object
 1   order_date    15 non-null     datetime64[ns]
 2   product_id    15 non-null     int64
 3   join_date     12 non-null     datetime64[ns]
 4   product_name  15 non-null     object
 5   price         15 non-null     int64
dtypes: datetime64[ns](2), int64(2), object(2)
memory usage: 852.0+ bytes

In [17]:
orders_after_membership = df.query('order_date >= join_date')
orders_after_membership

   customer_id order_date  product_id  join_date product_name  price
2            A 2021-01-07           2 2021-01-07        curry     15
3            A 2021-01-10           3 2021-01-07        ramen     12
4            A 2021-01-11           3 2021-01-07        ramen     12
5            A 2021-01-11           3 2021-01-07        ramen     12
9            B 2021-01-11           1 2021-01-09        sushi     10
10           B 2021-01-16           3 2021-01-09        ramen     12
11           B 2021-02-01           3 2021-01-09        ramen     12

In [18]:
orders_after_membership.sort_values('order_date').groupby('customer_id')['product_name'].first()

customer_id
A    curry
B    sushi
Name: product_name, dtype: object

In [19]:
# 7) Which item was purchased just before the customer became a member?

orders_before_membership = df.query('order_date < join_date')
orders_before_membership

  customer_id order_date  product_id  join_date product_name  price
0           A 2021-01-01           1 2021-01-07        sushi     10
1           A 2021-01-01           2 2021-01-07        curry     15
6           B 2021-01-01           2 2021-01-09        curry     15
7           B 2021-01-02           2 2021-01-09        curry     15
8           B 2021-01-04           1 2021-01-09        sushi     10

In [20]:
orders_before_membership.sort_values(by='order_date', ascending=False).groupby('customer_id')['product_name'].first()

customer_id
A    sushi
B    sushi
Name: product_name, dtype: object

In [21]:
# 8) What is the total items and amount spent for each member before they became a member?
orders_before_membership.groupby('customer_id')['price'].sum()

customer_id
A    25
B    40
Name: price, dtype: int64