In [7]:
import numpy as np
import pandas as pd

# create series using list items

In [8]:
mydata = [100, 200, 300]

In [15]:
myindex = ['india', 'uk', 'usa']

In [12]:
myser = pd.Series(mydata)

In [13]:
myser

0    100
1    200
2    300
dtype: int64

In [18]:
myser = pd.Series(mydata, myindex)

In [19]:
myser

india    100
uk       200
usa      300
dtype: int64

In [20]:
myser['usa']

300

In [21]:
myser.loc['usa']

300

In [22]:
myser.iloc[0]

100

In [23]:
myser.max()

300

In [24]:
myser.dtypes

dtype('int64')

In [26]:
myser.ndim

1

# create series using dict

In [27]:
dt = {'a':'apple', 'b': 'banana', 'c': 'car'}

In [28]:
ser = pd.Series(dt)

In [29]:
ser

a     apple
b    banana
c       car
dtype: object

In [30]:
ser.index

Index(['a', 'b', 'c'], dtype='object')

In [31]:
ser.values

array(['apple', 'banana', 'car'], dtype=object)

In [32]:
ser.keys

<bound method Series.keys of a     apple
b    banana
c       car
dtype: object>

In [33]:
type(ser)

pandas.core.series.Series

# operations with multiple series

In [42]:
q1 = {'usa':100, 'japan': 200, 'india': 300}
q2 = {'usa':100, 'china': 200, 'india': 300}

In [43]:
ser_q1 = pd.Series(q1)

In [44]:
ser_q2 = pd.Series(q2)

In [47]:
ser_q1 + 4

usa      104
japan    204
india    304
dtype: int64

In [48]:
ser_q2/10 # after any numerical operation the int will be converted to float

usa      10.0
china    20.0
india    30.0
dtype: float64

In [50]:
ser_q1 + ser_q2 # this will fail if any key is not present

china      NaN
india    600.0
japan      NaN
usa      200.0
dtype: float64

In [52]:
ser_q1.add(ser_q2, fill_value=0)

china    200.0
india    600.0
japan    200.0
usa      200.0
dtype: float64

In [53]:
ser_q1.keys

<bound method Series.keys of usa      100
japan    200
india    300
dtype: int64>

In [54]:
ser_q1.values

array([100, 200, 300], dtype=int64)

In [55]:
ser_q1.index

Index(['usa', 'japan', 'india'], dtype='object')

In [57]:
for i in ser_q1:
    print(i)

100
200
300

In [59]:
k = ser_q1.keys

In [63]:
type(ser_q1)

pandas.core.series.Series