In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

# insert a column into df

In [4]:
df

   col1  col2
0     1     3
1     2     4

In [5]:
df.insert(1, "newcol", [99, 99])

In [6]:
df

   col1  newcol  col2
0     1      99     3
1     2      99     4

In [7]:
df.insert(0, 'another col',[100, 100])

In [8]:
df

   another col  col1  newcol  col2
0          100     1      99     3
1          100     2      99     4

In [9]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

In [13]:
for x in df:
    print(x)

A
B

In [14]:
df = pd.DataFrame({'species': ['bear', 'bear', 'marsupial'],
                  'population': [1864, 22000, 80000]},
                  index=['panda', 'polar', 'koala'])

In [16]:
df

         species  population
panda       bear        1864
polar       bear       22000
koala  marsupial       80000

In [32]:
for label, content in df.items():
    print(label)
    for x in content:
        print(x)

species
bear
bear
marsupial
population
1864
22000
80000

In [35]:
for x in df.iterrows():
    print('----------')
    print(x)
    print('Key:',x[0])
    for y in x[1]:
        print('values:',y)

----------
('panda', species       bear
population    1864
Name: panda, dtype: object)
Key: panda
values: bear
values: 1864
----------
('polar', species        bear
population    22000
Name: polar, dtype: object)
Key: polar
values: bear
values: 22000
----------
('koala', species       marsupial
population        80000
Name: koala, dtype: object)
Key: koala
values: marsupial
values: 80000

In [53]:
for x in df.itertuples():
    print('-------------')
    print(x.species)
    print(x.population)
    print(x)

-------------
bear
1864
Pandas(Index='panda', species='bear', population=1864)
-------------
bear
22000
Pandas(Index='polar', species='bear', population=22000)
-------------
marsupial
80000
Pandas(Index='koala', species='marsupial', population=80000)